<h3>Input User</h3>
<div class="mb-3">
    <label class="form-label"> Full name </label>
    <input type="text" class="form-control" placeholder="Full Name" [(ngModel)]='fullName'>
</div>
<div class="mb-3">
    <label class="form-label"> Email </label>
    <input type="text" class="form-control" placeholder="Job" [(ngModel)]='email'> 
</div>
<div class="mb-3">
    <label class="form-label"> Password </label>
    <input type="text" class="form-control" placeholder="Job" [(ngModel)]='password'> 
</div>
<p>
    <button type="button" class="btn btn-secondary" (click)="onRegister()">Register</button>
</p>